html {

	font-family: Gill Sans Extrabold, sans-serif;
}
.container{

	text-align: center;
             background-color: lightblue;
             border: 5px solid #73AD21;
             border-radius: 25px;
}
img {
    display: block;
    margin: auto;
    width: 20%;
}
header {
	font-style: oblique;
	text-align: center;
	padding: 2px 2px 2px 2px;
}
footer {
	font-style: oblique;
	text-align: center;
	padding: 2px 2px 2px 2px;
}
        #url{
 min-height: 100px;
}
   
        #humidity{
color: darkblue;
}